<h1>Create a new User</h1>

<form action="/users" method="post">
  <label for="name">Enter Username</label>
  <input type="text" name="name" value="">
  <br>
  <label for="bank">Enter Bankaccount</label>
  <input type="text" name="bank" value="">
  <input type="submit" name="" value="submit">
</form>
